a {
    text-decoration: none;
    color: #0d6efd;
}
a:hover {
    text-decoration: none;
    color: #0d6efd;
}
.btn {
    color: #0d6efd;
}
.btn:hover {
    color: #0d6efd;
}
@media (prefers-color-scheme: light) {
    body {
        background: white;
    }
    h1 {
        color: black;
    }
    h2 {
        color: black;
    }
    p {
        color: black;
    }
    #darkmode {
        display: none;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background: #333;
    }
    h1 {
        color: white;
    }
    h2 {
        color: white;
    }
    p {
        color: white;
    }
    #lightmode {
        display: none;
    }
}